@font-face {
    font-family: 'Gill Sans';
    src: local('GillSans'), url(./Gill-Sans-MT-Book.ttf) format('ttf');
  }

  @font-face {
    font-family: 'Gill Sans Bold';
    src: local('GillSans'), url(./Gill-Sans-MT-SC-Bold.ttf) format('ttf');
  }
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    overflow:hidden;
  }

  html, body, {
   
}

  .home {
    display: flex;
  }
  .text-wrap {
      display: inline-block;
      position: absolute;
      min-width: 85px;
  }
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}
  
  .right {
    margin-right: 20px;
    right:10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    margin-left: 20px;
    left:10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

  .close-button-outer {
    width: 4em;
    position: absolute;
    right: 60px;
    top: 40px;
    z-index: 2000;
    height: 4em;
    border: 3px solid white;
    border-radius: 80px;
    cursor: pointer;
  }
  
  
  .close-button {
    margin: 0 auto;
    position: relative;
    top: 10px;
    left: -8px;
    font-size: 36px;
    width: 0;
    color: white;
    height: 0;
  }

  .close-button-outer:hover {
    background-color: white;

    .close-button {
        border-color: transparent transparent transparent black;
        color:black;
    }
  }



  .play-button-outer {
    margin: 7% auto;
    width: 5em;
    z-index: 1;
    height: 5em;
    border: 3px solid white;
    border-radius:80px;
  
    cursor: pointer;
  }
  
  .play-button {
    margin: 0 auto;
    top: 30%;
    position: relative;  
    left:3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em 0 1em 2em;
    border-color: transparent transparent transparent white;
  
  }
  
  .play-button-outer:hover {
    background-color: white;

    .play-button {
        border-color: transparent transparent transparent black;
    }
  }
  
  .play-button-outer:hover .play-button {
    opacity: 1;
  }

  video { 
    height:100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    width:100%;
}

  .video-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: row;
    background-size:cover;
    background-repeat: no-repeat !important;
    flex-direction: row;
    min-height:800px;
    flex:1;
    position: absolute;
    right: 0;
    height: 100%;
    background-size: cover;
    left: 0;
    bottom: 0;
    top: 0;
    background-size: auto 100%;

    p{
        font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
        color: white;
        font-weighT: bold;
        text-transform: uppercase;
        line-height: 30px;
        text-align: right;
        font-size: 20px;
    }

    span {
        font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
        color: white;
        cursor: pointer;
        margin-top: -10px;
        text-align: right;
        font-weighT: bold;
        white-space: pre-wrap;
        font-size: 20px;
        display: block;
        margin-top: 10px;
        text-transform: uppercase;
       }

    .play-button-outer {
      
    }
}

.navigation {
 z-index: 3;
 margin-bottom: 30px;


 &.right-side{

    .text-wrap {
        margin-top: -14px;
        right: 45px;


        p {
            margin-top: 0;
        }
    }
  span {
  
  }
 }

 
 &.left-side{
     margin-right: 15px;
   p{
       text-align: right;
       margin-top: -14px;
   }

   span {
    text-align: left;
   }

   .text-wrap {
    left: 50px;
    margin-right: 5px;
   }
  }
}
.shaw .tile {
    
    @media only screen and (min-width: 1040px) {
        background-position-y: 0;
        height:100%;
    }

    @media only screen and (min-device-width : 768px) 
  { 
    background-position-x: 25%;
    height:100%;}
}

.vandercook .tile {
    p{
        font-size: 18px;
    }
}

.tile {
    height: 50%;
    display: flex;
    background-size: cover;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    align-items: center;
    padding-right: 10%;
    position: absolute;
    justify-content: center;
    flex-direction: row;
    padding: 0 10%;
    justify-content: space-between;

    &:before {
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        opacity: 0.4;
        background: black;
      }

    @media only screen and (min-width: 1040px) {
        background-position-y: -155px;
    }

    &:first-child {
        top:0;
    }

    &:last-child {
        bottom:0;
    }

    h1 {
        margin-bottom: 30px;
        font-family: "Gill Sans";
        font-weight: bold;
        color:white;
        text-transform: uppercase;
    }

    img {
        display: block;
        margin-bottom: 20px;
    }

    b {
        P{
            font-size: 24px;
        }

    }
    
    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 0;
       
    }
    .info {
        flex: 2;
        margin-right: 15%;
        z-index: 5;

        img {
            height: 55px;

            @media (min-width: 768px) and (max-width: 1024px) {
  
                //CSS
                height: 50px;
                
              }
        }
    }

    .options {
        flex: 1;
        text-align: center;
        z-index: 5;

        p {
            word-wrap: break-word;
            color:white;
            white-space: normal;
            margin: 0 auto;
            width: 86px;
            font-weight: 800;
            font-size: 18px;
            text-align: center;
            font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
            color: white;
            text-transform: uppercase;
        }
        

        .learn {
         
        }

        .play{
        }
    }


    h1, h2, p {
        text-align: left;
        color:white;
    }


    
}


  